
aspnetcoreapp/bin/Debug/net5.0/appsettings.Development.json
aspnetcoreapp/bin/Debug/net5.0/appsettings.json
aspnetcoreapp/bin/Debug/net5.0/aspnetcoreapp.deps.json
aspnetcoreapp/bin/Debug/net5.0/aspnetcoreapp.dll
aspnetcoreapp/bin/Debug/net5.0/aspnetcoreapp.exe
aspnetcoreapp/bin/Debug/net5.0/aspnetcoreapp.pdb
aspnetcoreapp/bin/Debug/net5.0/aspnetcoreapp.runtimeconfig.dev.json
aspnetcoreapp/bin/Debug/net5.0/aspnetcoreapp.runtimeconfig.json
aspnetcoreapp/bin/Debug/net5.0/aspnetcoreapp.Views.dll
aspnetcoreapp/bin/Debug/net5.0/aspnetcoreapp.Views.pdb
aspnetcoreapp/bin/Debug/net5.0/ref/aspnetcoreapp.dll
aspnetcoreapp/obj/aspnetcoreapp.csproj.nuget.dgspec.json
aspnetcoreapp/obj/aspnetcoreapp.csproj.nuget.g.props
aspnetcoreapp/obj/aspnetcoreapp.csproj.nuget.g.targets
aspnetcoreapp/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
aspnetcoreapp/obj/Debug/net5.0/apphost.exe
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.AssemblyInfo.cs
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.AssemblyInfoInputs.cache
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.assets.cache
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.csproj.CopyComplete
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.csproj.CoreCompileInputs.cache
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.csproj.FileListAbsolute.txt
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.dll
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.GeneratedMSBuildEditorConfig.editorconfig
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.genruntimeconfig.cache
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.MvcApplicationPartsAssemblyInfo.cache
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.pdb
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.RazorAssemblyInfo.cache
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.RazorAssemblyInfo.cs
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.RazorCoreGenerate.cache
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.RazorTargetAssemblyInfo.cache
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.RazorTargetAssemblyInfo.cs
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.TagHelpers.input.cache
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.TagHelpers.output.cache
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.Views.dll
aspnetcoreapp/obj/Debug/net5.0/aspnetcoreapp.Views.pdb
aspnetcoreapp/obj/Debug/net5.0/Razor/Pages/_ViewImports.cshtml.g.cs
aspnetcoreapp/obj/Debug/net5.0/Razor/Pages/_ViewStart.cshtml.g.cs
aspnetcoreapp/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
aspnetcoreapp/obj/Debug/net5.0/Razor/Pages/Index.cshtml.g.cs
aspnetcoreapp/obj/Debug/net5.0/Razor/Pages/Privacy.cshtml.g.cs
aspnetcoreapp/obj/Debug/net5.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
aspnetcoreapp/obj/Debug/net5.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
aspnetcoreapp/obj/Debug/net5.0/ref/aspnetcoreapp.dll
aspnetcoreapp/obj/Debug/net5.0/staticwebassets/aspnetcoreapp.StaticWebAssets.Manifest.cache
aspnetcoreapp/obj/project.assets.json
aspnetcoreapp/obj/project.nuget.cache
